
de modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build directory (if using a build tool)
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
